<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Civilise AI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/main.css?4000" rel="stylesheet" type="text/css">
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="app">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>civilise.ai</h2>
				<p>Regenerative agriculture<br>Made simple
				</p>
				<p>&nbsp;</p>
	<ul class="actions">
		<li>
			<form action="{{ url_for('webapp') }}" method="POST">
				<h4 style="color: #ffffff;">Enter a coordinate on your property to begin:</h4>
				<input name="address" value="-35.28878, 149.01080" style="text-align:center;">
				<br>
				<br>
				<input type="submit" class="button special big" value="Get Started">
			</form>
	  	</li>
	</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>The civilise.ai Project</h2>
								  <p><a href="https://gitlab.cecs.anu.edu.au/u6737670/civlise.ai-techlauncher-2020"> Visit Our Gitlab Repository&nbsp;</a></p>
                                </header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Unsustainable farming practices are degrading the land at an exponential rate. Changes to the land (e.g. planting trees or building roads and paddocks) can have positive or negative impacts on the land fertility. Currently farmers have a limited understanding of the consequences from modifying their land as it is a complex problem. Our project aims to use Geospatial data and AI to provide a tool that makes sustainable and regenerative farming easier in Australia. The project would help analyse and visualise the vast terrain, helping not only in identifying suitable areas for vegetation. But also simulate how grading (Making changes to that terrain) affects the surface water-flow, rate of soil erosion etc. Thus helping researchers evaluate and optimize strategies for land regeneration. Farmers would also gain great insight inturn helping them increase their crop yields, active irrigation, et</p>
							</div>
						</div>
					</div>
				</section>
		
		<!-- Some nice blank space -->
			<section id="four" class="wrapper style3 special">
			  <br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="container">
						<header class="major">
							<h2>Let's leave an environment our children will thank us for.</h2>
						</header>
					</div>
			  <br>
				<br>
				<br>
				<br>
				<br>
				<br>
			</section>

	<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>Civilise.ai Techlauncher 2020</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>



	</body>
</html>
